@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_image {
  background: url("../img/캠핑.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location_camping {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.gps {
  width: 30px;
}

.ad-container {
  border-radius: 10px;
  background-color: black;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.ad_text {
  font-size: 30px;
  color: white;
  font-weight: 700;
  width: 15%;
}

.ad_image {
  width: 30%;
  object-fit: cover;
  margin-bottom: 30px;
}

.main_image_text {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 50px;
}

.main_image_sub_text {
  color: white;
  font-size: 25px;
  margin-left: 50px;
  border-radius: 10px;
  padding: 5px;
  background-color: black;
  width: fit-content;
  cursor: pointer;
}

.main_image_sub_text:hover {
  color: black;
  background-color: white;
}

.main_icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
}

.main_icon_group {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.main_icon_image {
  width: 4rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site_logo {
  width: 6%;
}

.myLocation {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .main {
    width: 100%;
  }
  .main_image {
    height: 280px;
  }
  .main_image_text {
    font-size: 1.5rem;
    padding-left: 20px;
  }
  .main_image_sub_text {
    font-size: 1rem;
    margin-left: 20px;
  }
  .main_icon_image {
    width: 3rem;
  }
  .myLocation {
    width: 85%;
  }
  .ad-container {
    width: 90%;
    height: 130px;
  }

  .ad_text {
    font-size: 16px;
    width: 25%;
  }

  .ad_image {
    width: 40%;
    margin-bottom: 5px;
  }

  .main_icon_group {
    width: 100%;
    justify-content: space-around;
  }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .main {
    width: 100%;
  }
  .main_icon_image {
    width: 3rem;
  }

  .main_icon_group {
    width: 100%;
    justify-content: space-around;
  }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1400px) {
  .main {
    width: 100%;
  }
}
