.filter_page {
}
.detail_filter {
  position: fixed;
  width: 18rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  left: 110px;
  visibility: visible;
}

.detail_filter_buttons {
  width: 95%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 15px;
}

.detail_filter_buttons button {
  width: 120px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.apply {
  background-color: #f2074c;
  color: white;
  border: 1px solid white;
}

.apply:hover {
  background-color: #b30639;
}

.clear {
  border: 1px solid #f2074c;
  margin-right: 10px;
}

.detail_filter_publicFac {
  display: flex;
  flex-wrap: wrap;
}

.detail_filter_publicFac div {
  width: 100px;
  padding: 0.4rem;
}
.place_filter {
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  margin-bottom: 10px;
}

.place_filter_title {
  font-size: 25px;
  font-weight: bold;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.place_filter_items {
  position: absolute;
  z-index: 9999;
  background-color: white;
  width: 100%;
  font-size: 17px;
  padding-left: 10px;
  cursor: pointer;
}

.arrow_down {
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  padding-right: 10px;
}

@media screen and (max-width: 479px) {
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 0px) and (max-width: 1400px) {
  .detail_filter {
    display: none;
  }
}
