.detail {
  margin: 0 auto;
  width: 60%;
}

.detail_Lineintro {
  font-size: 30px;
}

.detail_intro {
  font-size: 16px;
}

.faclNm {
  font-size: 30px;
  font-weight: bold;
}

.detail_link {
  color: rgb(104, 198, 235);
  cursor: pointer;
}

.detail_road {
  cursor: pointer;
  color: skyblue;
}

.detail_road:hover {
  color: blue;
}

.detail_link:hover {
  color: blue;
}

.slick-prev {
  z-index: 9999;
  left: 25px !important;
}

.slick-next {
  right: 25px !important;
}
