.navBar {
  position: fixed;
  width: 100%;
  height: 130px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 999;
  background-color: white;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.nav_phrase {
  padding-right: 50px;
  color: rgba(0, 0, 0, 0.7);
}

.nav_pageTitle {
  width: 70%;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.7);
}

.searchBar {
  position: relative;
  border: 0px;
  border-bottom: 1px solid black;
  outline: none;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.search {
  border: 0px;
  outline: none;
  width: 100%;
}

.searchBar_icon {
  width: 1.3rem;
  visibility: hidden;
}

.site_logo {
  width: 5rem;
}

@media screen and (max-width: 479px) {
  .nav {
    width: 100%;
    justify-content: space-between;
  }

  .searchBar {
    margin: 0 auto;
  }

  .nav_phrase {
    display: none;
  }

  .searchBar_icon {
    visibility: visible;
  }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .nav {
    width: 100%;
    justify-content: space-between;
  }

  .searchBar {
    margin: 0 auto;
  }

  .nav_phrase {
    display: none;
  }

  .searchBar_icon {
    visibility: visible;
  }
}
