@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}
@import "./css/App.css";
@import "./css/navBar.css";
@import "./css/facility.css";
@import "./css/detail.css";
@import "./css/campingList.css";
@import "./css/detailFilter.css";
@import "./css/modal.css";
@import "./css/notFound.css";
body {
  margin: 0;
  font-family: "SUITE-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2;
  padding-top: 200px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
